.add__form{
    input{
        width: 650px;
        padding: 5px 5px 5px 13px;
        border-radius: 2px;
        border: none;
        outline: none;
    }
    &__btn{
        background: #183485;
        color: white;
        border: none;
        padding: 5px 10px ;
        margin-left: 13px;
        border-radius: 2px;
        cursor: pointer;
    }
}