.filter{
    button{
        background: #183485;
        color: white;
        border: none;
        padding: 5px 10px ;
        margin-left: 13px;
        border-radius: 2px;
        cursor: pointer;
    }
}

